.order {
    padding: 40px;
    margin: 20px 0;
    border: 1px solid lightgrey;
    background-color: white;
    position: relative;
}

@media only screen and (max-width: 600px){
    .order > p {
        font-size: 12px;
    }
}


@media only screen and (max-width: 600px){
    .order {
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
}

.order__id {
    position: absolute;
    top: 40px;
    right: 20px;
}

@media only screen and (max-width: 600px){
    small {
        position: relative;
        top: 30px;
    }
}

.order__total {
    font-weight: 500;
    text-align: right;
}

@media only screen and (max-width: 600px){
    .order__total {
        font-size: 14px;
    }
}

